* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: blue;
	padding-top: 250px;
}
.cap {
	background-color: white;
	height: 150px;
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
}
input{
	width: 900px;
	height: 105px;
	padding-left: 15px;
	border-radius: 10px;
	font-size: 18px;
	border: 2px solid blue;
}
.title{
	position: relative;
	border-radius: 10px;
}
.test{
	position: absolute;
	margin-top: 10px;
	margin-left: 15px;
	color: blue;
	font-size: 20px;
}
.one{
	position: absolute;
	margin-top: 75px;
    margin-left: 845px;
	color: blue;

}